<div class="jumbotron">
    <h2>API REST/JSON com Asp.Net Web API</h2>
    <p class="lead">Clique abaixo para acessar o teste das interfaces</p>
    <p><a href="/swagger/ui/index#/" class="btn btn-success btn-lg">Testar com Swagger</a></p>
</div>
